body {
    background-color: whitesmoke;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: black;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tittle {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 350px;
}

#reelRemarks {
    color: black;
    font-size: 90px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    display: inline;
    margin-right: 10px;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.link:hover {
    text-decoration: underline;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.homeButtons {
    display: flex;
    width: 50%;
    height: 150px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#email {
    color: black;
    margin-right: 10px
}

#linkedin {
    color: black;
}

.contact {
    display: flex;
}

#addMovie {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
    color: black;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#searchMovie {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
    color: black;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

#aboutReel {
    display: flex;
    font-size: 25px;
}

#aboutPar {
    text-align: center;
    white-space: pre-line;
    font-size: 17px;
}

.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#email {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
}

#linkedin {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
}